In [1]:
import numpy as np
import pandas as pd
import json
from pandas import DataFrame as df

In [2]:
# 입력이미지데이터
df1 = df(data={'Short': [3], 'Long':[0.1], 'Red':[0], 'Blue':[10], 'Green':[3]})
df1

   Short  Long  Red  Blue  Green
0      3   0.1    0    10      3

In [3]:
# DB이미지데이터
df2 = df(data={'Short': [0.01,4,3], 'Long':[4, 0.2, 3], 'Red':[5, 0.6, 33], 'Blue':[2,3,5.5], 'Green':[7,10,1]})
df2

   Short  Long   Red  Blue  Green
0   0.01   4.0   5.0   2.0      7
1   4.00   0.2   0.6   3.0     10
2   3.00   3.0  33.0   5.5      1

In [4]:
# 입력데이터를 DB이미지데이터와 합치기
merge_df = pd.merge(df1,df2, how='outer')
merge_df

C:\Users\student\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1100: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

   Short  Long   Red  Blue  Green
0   3.00   0.1   0.0  10.0      3
1   0.01   4.0   5.0   2.0      7
2   4.00   0.2   0.6   3.0     10
3   3.00   3.0  33.0   5.5      1

In [5]:
# 아이템(=행) 간 상관관계 - 코사인유사도
from sklearn.metrics.pairwise import cosine_similarity

cosine = pd.DataFrame(cosine_similarity(merge_df))
cosine

          0         1         2         3
0  1.000000  0.393361  0.592032  0.183627
1  0.393361  1.000000  0.735373  0.596236
2  0.592032  0.735373  1.000000  0.155901
3  0.183627  0.596236  0.155901  1.000000

In [ ]:
# 아이템(=행) 간 상관관계 - 피어슨상관계수

In [6]:
#0행(입력이미지데이터)과 다른 행들(DB이미지데이터)의 상관관계 확인
cosine[0]

0    1.000000
1    0.393361
2    0.592032
3    0.183627
Name: 0, dtype: float64

In [7]:
# 오름차순으로 정렬하여 상위 n개(추천할 개수) 데이터의 행 인덱스 뽑아내기
cosine[0].sort_values(ascending=True)

3    0.183627
1    0.393361
2    0.592032
0    1.000000
Name: 0, dtype: float64

In [8]:
# 0행은 자기자신이므로 제외
# 제일 상관관계가 높은 2행의 정보를 뽑는다
merge_df.iloc[2]

# 이중 필요한 칼럼(이미지, 링크)만 뽑아서 웹에 띄워준다.

Short     4.0
Long      0.2
Red       0.6
Blue      3.0
Green    10.0
Name: 2, dtype: float64